.contact-container {
    display: flex;
  }
  
 
  .contact-info,
  .opening-hours {
    flex: 1;
    margin-right: 10px; /* Reduce the margin-right */
    margin-top: 200px;
    color: aliceblue;
  }
  
.contact {
  background-image: url('../treeBaggrund.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure it's behind other content */
}
p, li{
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-size: 22px;
  font-style: normal;
}
.contact-info h2, .opening-hours h2{
  font-size: 28px;
}
