.menu {
  background-image: url('../wineglass.jpg');
  background-color: rgba(255, 255, 255, 0.8); /* Adjust as needed */
  padding: 20px; /* Add padding to keep content away from edges */
  box-sizing: border-box;
  min-height: 100vh; /* Set minimum height of .menu to full viewport height */
  background-size: cover; /* Ensure the background covers the entire .menu container */
  background-position: center;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow: hidden; /* Prevent content from overflowing and showing the white background */
}
body, html {
  height: 100%;
  margin: 0;
}


@media (max-width: 768px) {
  .menu {
    background-color: rgba(255, 255, 255, 0.95); /* Increase opacity for smaller devices */
  }
}

@media (max-width: 200px) {
  .menu h2 {
    margin-top: 300px;
    font-size: 20px;
    flex-direction: column; /* Stack images vertically */
  }
}

@media (max-width: 900px) {
  .menu h2 {
    margin-top: 350px;
    font-size: 20px;
    flex-direction: column; /* Stack images vertically */
  }
}
h2 {
  font-size: 30px;
  background-color: rgba(9, 207, 9, 0.575);
  margin-top: 150px;
}


.buttonNew:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}


.forum-image {
  max-width: 100%; /* Ensure the image does not exceed its container */
  max-height: 100%; /* Ensure the image does not exceed its container */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.round-image {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 50%;
  margin: 0 10px; /* Space between images */
  object-fit: cover; /* Ensure the image covers the area */
}

@media (max-width: 200px) {
  h2 {
    margin-top: 300px;
    font-size: 20px;
    flex-direction: column; /* Stack images vertically */
  }
}


@media (max-width: 900px) {
  h2 {
    margin-top: 350px;
    font-size: 20px;
    flex-direction: column; /* Stack images vertically */
  }
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Stack images vertically */
  }

  .round-image {
    width: 100px; /* Smaller size for smaller devices */
    height: 100px; /* Smaller size for smaller devices */
    margin: 10px 0; /* Space between images */
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically */
  }

  .buttonNew {
    margin-bottom: 10px; /* Space between buttons */
    margin-right: 0; /* Remove right margin */
  }
}
