.buttonNew {
  background-color: green; /* Set background color to green */
  color: white; /* Set text color to white */
  border: none; /* Remove button border */
  padding: 10px 40px; /* Increase horizontal padding for wider buttons */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 15px;
  font-size: 20px;
  font-weight: 100px;
  margin-right: 10px; /* Add some margin between buttons */
  font-family: Arial, sans-serif; /* Set a fallback font family */
}

.buttonNew:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}
