/* BookButtons.css */

.custom-btn,
.custom-link {
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none; /* Remove box shadow */
  font-size: 18px; /* Increase font size */
  font-family: inherit; /* Inherit font-family from parent */
}

.custom-btn:hover,
.custom-link:hover {
  color: black; /* Change text color on hover */
}

.button-container {
  margin-top: 20px;
}
