
a {
    font-family: "Anton", sans-serif;
    color: green;
  }

  a:hover {
    text-decoration: underline;
    color: green;
  }
  
  .custom-bg {
    background-color: rgb(0, 0, 0); 
    color: green;
  }
/* Header.css */

.custom-bg {
  background-color: rgba(255, 0, 0, 0.253); 
  border-radius: 50px;
}

.navbar-nav .nav-item .nav-link::selection {
  background-color: #f7df1e; /* Change the selection background color */
  color: rgb(235, 235, 235); /* Change the selection text color */
}
