
a {
    font-family: "Anton", sans-serif;
    
  }

  a:hover {
    text-decoration: underline;
  }
  
  .custom-bg {
    background-color: rgba(0, 0, 0, 0); 
  }
/* Header.css */

.custom-bg {
  background-color: rgba(0, 0, 0, 0); 
}

.navbar-nav .nav-item .nav-link::selection {
  background-color: #f7df1e; /* Change the selection background color */
  color: black; /* Change the selection text color */
}
